@{
    ViewData["Title"] = "About Us";
}

@section head
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/about-us.css">
}

<div class="about-section">
    <h1>About Us</h1>
    <p>We believe in communication and interaction. We get feedback from the client, discover the dynamics of each event and offer our services tailor-made to the event’s specific needs and to the identity of the persons participating.</p>
</div>

<h2 style="text-align:center; margin-top: 10px; margin-bottom: 10px;">Our Philosophy</h2>

<div class="row">
    <div class="column">
        <div class="img">
            <img src="~/img/eclogo.png" alt="Easy-Conference" style="width: 100%;">
        </div>
        <div class="container" style=" background-color: beige; margin-top: 15px; ">
            <p>The personal contact and mutual respect with all our collaborators gives us one clear advantage; the highest standard of service for the best possible rates. <br> <br> The key to our philosophy is personal touch. We get feedback from the client, discover the dynamics of each event and offer our services tailor-made to the event’s specific needs and to the identity of the persons participating. We believe in quality. We believe in originality and creativity. We believe in effectiveness and reliability. To that end we have achieved a high-class infrastructure in specialized human and technical resources. We believe in experience. We have a passion for challenge. In our experience, there is no challenge that cannot be me</p>
        </div>
    </div>
</div>