@model EConference.Models.RegisterPaper

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>RegisterPaper</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PaperId" class="control-label"></label>
                <input asp-for="PaperId" class="form-control" />
                <span asp-validation-for="PaperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperTopic" class="control-label"></label>
                <input asp-for="PaperTopic" class="form-control" />
                <span asp-validation-for="PaperTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaperTitle" class="control-label"></label>
                <input asp-for="PaperTitle" class="form-control" />
                <span asp-validation-for="PaperTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher" class="control-label"></label>
                <input asp-for="Publisher" class="form-control" />
                <span asp-validation-for="Publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participant" class="control-label"></label>
                <input asp-for="Participant" class="form-control" />
                <span asp-validation-for="Participant" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
