
	.about-section {
		padding: 50px;
		text-align: center;
		background-color: #474e5d;
		color: white;
		border: #474e5d;
	  }

	  .card {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		margin: 8px;
	  }