@model EConference.Models.ViewModels.PaperVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Register Paper";
}


<form method="post">
    <div class="row p-3 border">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @if (Model.Papers.Id != 0)
        {
            //edit
            title = "Edit Paper";
            <input type="hidden" asp-for="Papers.Id"/>
        }
        <div class="col-12 border-bottom">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8 pt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.PaperId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.PaperId" class="form-control" />
                    <span asp-validation-for="Papers.PaperId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.PaperTopic"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.PaperTopic" class="form-control" />
                    <span asp-validation-for="Papers.PaperTopic" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.PaperTitle"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.PaperTitle" class="form-control" />
                    <span asp-validation-for="Papers.PaperTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.Publisher"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.Publisher" class="form-control" />
                    <span asp-validation-for="Papers.Publisher" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.Participant"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.Participant" class="form-control" />
                    <span asp-validation-for="Papers.Participant" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.TimeZone"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.TimeZone" class="form-control" />
                    <span asp-validation-for="Papers.TimeZone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Papers.Country"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Papers.Country" class="form-control" />
                    <span asp-validation-for="Papers.Country" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    Conference
                </div>
                <div class="col-8">
                    @Html.DropDownListFor(i => i.Papers.ConferenceNameId, Model.ConferenceList, "--Select Conference--",
                    new { @class = "form-control"})
                    <span asp-for="Papers.ConferenceId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-8 offset-4">
                    @if (Model.Papers.Id != 0)
                    {
                        <partial name="_EditAndBackToListButton" model="Model.Papers.Id" />
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary form-control">Register</button>
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{ 
<partial name="_ValidationScriptsPartial" />
}